.full-page-background{
    background-image: url('/assets/bg.jpg')
}

.card{
    justify-content: center;
    background-color: white;
}

li{
    list-style: none
}

.navbar{
    display: flex;
    justify-content: flex-end;
}