.full-page-background{
    background-image: url('/assets/bg.jpg')
}

.card{
    margin: auto;
    background-color: white
}

li{
    list-style: none
}

.navbar{
    display: inline-block;
    position: absolute;
}