<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-6 offset-xl-3
            main-content card">
      <div class="row">
        <div class="col text-left">
          <h4 class="card-title">Add Product</h4>
        </div>
        <div class="col text-right mr-md-3">
          <button class="btn btn-fill" (click)="generate()">Generate</button>
        </div>
      </div>

      <div class="row card-body">
        <div class="col-sm-12">
          <form [formGroup]="form" #addInventory="ngForm">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                        d-flex align-items-center
                        justify-content-sm-end">
                  <label class="form-label">UPC</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('upc')}"
                    formControlName="upc" readonly required>

                  <span *ngIf="isFieldValid('upc')" class="invalid-feedback">
                    UPC is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                        d-flex align-items-center
                        justify-content-sm-end">
                  <label class="form-label">SKU</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('sku')}"
                    formControlName="sku" readonly required>

                  <span *ngIf="isFieldValid('sku')" class="invalid-feedback">
                    SKU is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                        d-flex align-items-center
                        justify-content-sm-end">
                  <label class="form-label">Item ID</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('item_id')}"
                    formControlName="item_id" required>

                  <span *ngIf="isFieldValid('item_id')" class="invalid-feedback">
                    Item ID is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                        d-flex align-items-center
                        justify-content-sm-end">
                  <label class="form-label">Item Name</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('name')}"
                    formControlName="name" required>

                  <span *ngIf="isFieldValid('name')" class="invalid-feedback">
                    Item Name is required
                  </span>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                        d-flex align-items-center
                        justify-content-sm-end">
                  <label class="form-label">Item Origin</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('origin')}"
                    formControlName="origin" required>

                  <span *ngIf="isFieldValid('origin')" class="invalid-feedback">
                    Item Origin is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                      d-flex align-items-center
                      justify-content-sm-end">
                  <label class="form-label">Arrival Date</label>
                </div>

                <div class="col-sm-10">
                  <input #date type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('date_arrived')}"
                    formControlName="date_arrived" placeholder="" required
                    name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                  <span *ngIf="isFieldValid('date_arrived')" class="invalid-feedback">
                    Arrival Date is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                    d-flex align-items-center
                    justify-content-sm-end">
                  <label class="form-label">Weight</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('total_weight')}"
                    formControlName="total_weight" required>

                  <span *ngIf="isFieldValid('total_weight')" class="invalid-feedback">
                    Total Weight is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                    d-flex align-items-center
                    justify-content-sm-end">
                  <label class="form-label">Price</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('price')}"
                    formControlName="price" required>

                  <span *ngIf="isFieldValid('price')" class="invalid-feedback">
                    Price is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                    d-flex align-items-center
                    justify-content-sm-end">
                  <label class="form-label">Device ID</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('device_id')}"
                    formControlName="device_id" required>

                  <span *ngIf="isFieldValid('device_id')" class="invalid-feedback">
                    Device ID is required
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-2
                    d-flex align-items-center
                    justify-content-sm-end">
                  <label class="form-label">Location</label>
                </div>

                <div class="col-sm-10">
                  <input type="string" class="form-control" [ngClass]="{'is-invalid': isFieldValid('location')}"
                    formControlName="location" required>

                  <span *ngIf="isFieldValid('location')" class="invalid-feedback">
                    Location is required
                  </span>
                </div>
              </div>
            </div>

                <div class="modal-footer mx-auto">
                  <button type="submit" id="addProduct" class="btn btn-info btn-fill col-sm-6 col-md-3" (click)="onSubmit()">Add
                    Product</button>
                  <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill col-sm-6 col-md-3 mr-md-3" (click)="reset()">Reset</button>
                </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>